MESUGAK_MARKET=KR
MESUGAK_CODES=
MESUGAK_KR_MARKETS=KOSPI,KOSDAQ
MESUGAK_MAX_STOCKS=300
MESUGAK_MAX_POSITIONS=5
MESUGAK_MIN_CONFIDENCE=65.0
MESUGAK_MAX_POSITION_WEIGHT=0.25
MESUGAK_ACCOUNT_VALUE=10000000
MESUGAK_INITIAL_CASH=10000000
MESUGAK_META_CHUNK_SIZE=400
MESUGAK_PROGRESS_INTERVAL=25
MESUGAK_DRY_RUN=false
MESUGAK_SKIP_ANALYSIS=false
MESUGAK_SKIP_REBALANCE=false
MESUGAK_SKIP_APPLY=false
